---
const title = 'Mi proyecto en Astro!!!!'
---

<h1 class="title">{title}</h1>

<script>
	console.log('Hola mundo')
</script>

<style>
	body {
		background-color: #202020;
		color: white;
	}
	.title {
		color: skyblue;
	}
</style>