---
const title = 'Mi proyecto en Astro!!!!'
const color = 'warning'

const hobbies = ['Programar', 'Leer', 'Escribir', 'Ver Peliculas','Programar', 'Leer', 'Escribir', 'Ver Peliculas','Programar', 'Leer', 'Escribir', 'Ver Peliculas']
---
<h1>Hobbies</h1>
<ul>
	{
		hobbies.map(hobbie => {
			return <li>
				<h3>{hobbie}</h3>
				<button>Like</button>
			</li>
		})
	}
</ul>

<script>
	console.log('Hola mundo')
</script>

<style>
	body {
		background-color: #202020;
		color: white;
	}
	.title {
		color: skyblue;
	}
	.danger {
		color: red;
	}
	.warning {
		color: yellow;
	}
</style>